*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    outline: none;
}
body{
    background: #e4e4e4;
}
p{
    font-size: 0.9em;
    font-weight: bold;
    /* padding: 0.5em 0; */
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: 30px;
    color: #3f3f3f;
    box-shadow:0px 10px 20px #3131314d;
}
#head{
    font-weight: bold;
    font-size: 1.8em;
    color: #3f3f3f;
    /* border: 1px solid rgb(66, 66, 66); */
    margin-bottom: -10px;
}
#interface{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amount input{
    padding: 5px;
    height: 25px;
    width: 270px;
    border-radius: 10px;
    border: 1px solid grey;
}
.dropdown{
    display: flex;
}
.dropdown .select{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    height: 25px;
}
.dropdown .select img{
    height: 32px;
}
.dropdown .select select{
    border: none;
    font-size: 1.2em;
    width: 60px;
}
.dropdown .from,.to{
    width: 100px;
    height: 80px;
}
.dropdown .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
.icon img{
    /* margin-top: 25px; */
    height: 60px;
}
.getdata{
    width: 280px;
}
.getdata button{
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    width: 280px;
    background: rgb(66, 66, 66);
    border: 1px solid rgb(66, 66, 66);
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.5s ease;
}
.getdata button:hover{
    cursor: pointer;
    transition: all 0.5s ease;
    background: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
}
.amount,.dropdown,.getdata{
    height: 90px;
    /* border: 1px solid rgb(66, 66, 66); */
}